@import "@styles/_var";

.wrap {
  font-family: $font-primary;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.002em;
  color: $color-white;
  text-align: center;

  @media (min-width: 576px) {
    font-size: 40px;
  }

  @media (min-width: 768px) {
    font-size: 60px;
  }

  @media (min-width: 992px) {
    font-size: 80px;
  }
}

.highlighted {
  color: $color-green;
}
