@font-face {
  font-family: "Mark";
  src: local("Mark"), local("Mark"),
    url("/fonts/Mark-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark";
  src: local("Mark"), local("Mark"), url("/fonts/Mark-Book.woff") format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark";
  src: local("Mark"), local("Mark"), url("/fonts/Mark-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica"), local("Neue Haas Unica"),
    url("/fonts/NeueHaasUnica-Light.woff2") format("woff2"),
    url("/fonts/NeueHaasUnica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica"), local("Neue Haas Unica"),
    url("/fonts/NeueHaasUnica-Regular.woff2") format("woff2"),
    url("/fonts/NeueHaasUnica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
