// colors

$color-dark-blue: #040316;
$color-white: #ffffff;
$color-black: #000000;
$color-green: #24ec8c;
$color-indigo: #6302dd;
$color-dark-black: #0f0f0f;

// fonts

$font-primary: "Mark", sans-serif;
$font-secondary: "Neue Haas Unica", sans-serif;
