.wrap {
  position: relative;
  padding: 0 16px 128px;
  z-index: 1;

  @media (min-width: 992px) {
    padding: 0 32px 248px;
  }
}

.box {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1095px;
  margin-left: auto;

  @media (min-width: 992px) {
    margin-bottom: -218px;
    margin-top: 32px;
  }

  @media (min-width: 1280px) {
    margin-right: 10px;
  }
}

.card {
  @media (min-width: 992px) {
    margin-bottom: 218px;
  }
  &:nth-child(even) {
    margin-left: 72px;
  }

  &:nth-child(1) {
    margin-left: auto;
    margin-top: 80px;
  }

  &:nth-child(4) {
    margin-top: -80px;
  }
}

.linkWrap {
  margin-top: 38px;
  display: flex;
  justify-content: flex-start;

  @media (min-width: 992px) {
    margin-top: 92px;
    justify-content: center;
  }
}

.note {
  margin-top: 16px;
  display: flex;
  margin-left: auto;

  @media (min-width: 992px) {
    position: absolute;
    top: 45.3%;
    left: 65px;
    margin-top: 0;
    margin-left: 0;
  }
}

.decor {
  position: absolute;
  width: 140%;
  z-index: -1;
  top: -3.8%;
  left: 4.3%;

  @media (min-width: 992px) {
    top: -1.8%;
    left: 9.3%;
    width: unset;
  }

  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
