@import "@styles/_var";

.wrap {
  display: flex;
}

.title {
  font-family: $font-primary;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.002em;
  color: $color-white;

  @media (min-width: 576px) {
    font-size: 40px;
  }

  @media (min-width: 768px) {
    font-size: 60px;
  }

  @media (min-width: 992px) {
    font-size: 80px;
  }
}

.highlighted {
  color: $color-green;
  padding-left: 1.3em;
}

.icon {
  width: 32px;
  margin-top: -17px;
  margin-left: -35px;

  @media (min-width: 576px) {
    width: 46px;
    margin-left: 0;
  }

  @media (min-width: 768px) {
    width: 64px;
    margin-top: -40px;
  }

  @media (min-width: 992px) {
    width: 98px;
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}
