@import "@styles/_var";

.wrap {
  position: relative;
  width: 136px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (min-width: 576px) {
    width: 146px;
  }

  @media (min-width: 992px) {
    width: 208px;
    height: 288px;
  }
}

.content {
  padding: 0 16px 16px;
  margin-top: auto;

  @media (min-width: 992px) {
    padding: 0 16px 24px 24px;
  }
}

.green {
  background: $color-green;
  color: $color-dark-black;

  .title {
    -webkit-text-stroke: 1px $color-black;
  }
}

.indigo {
  background: $color-indigo;
  color: $color-white;

  .title {
    -webkit-text-stroke: 1px $color-white;
  }
}

.title {
  font-family: $font-primary;
  font-weight: 800;
  font-size: 75px;
  line-height: 100%;
  letter-spacing: 0.002em;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  transform: translateX(62px);
  margin-top: 4px;

  @media (min-width: 992px) {
    font-size: 108px;
    transform: translateX(100px);
    margin-top: 0;
  }
}

.subtitle {
  margin-top: 4px;
  font-family: $font-primary;
  font-weight: 800;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (min-width: 992px) {
    font-size: 18px;
    margin-top: 28px;
  }
}

.description {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  margin-top: 16px;
  margin-bottom: 0;

  @media (min-width: 992px) {
    font-size: 16px;
    margin-top: 34px;
  }
}

.pixel {
  width: 3px;
  height: 3px;
  background: currentColor;

  @media (min-width: 992px) {
    width: 5px;
    height: 5px;
  }
}
