@import "@styles/_var";

.wrap {
  border-top: 1px solid $color-white;
  border-bottom: 1px solid $color-white;
}

.container {
  @media (min-width: 768px) {
    display: flex;
    padding: 0 65px;
    padding-left: 16px;
  }

  @media (min-width: 992px) {
    padding-left: 65px;
  }
}

.infoBlock {
  padding: 32px 16px;

  @media (min-width: 768px) {
    padding: 32px 0px;
    width: 58%;
    border-right: 1px solid $color-white;
  }

  @media (min-width: 992px) {
    padding-top: 60px;
    padding-bottom: 54px;
  }
}

.contacts {
  padding: 32px 16px;
  border-top: 1px solid $color-white;

  @media (min-width: 768px) {
    padding: 32px 0px;
    padding-left: 32px;
    width: 42%;
    border-top: none;
  }

  @media (min-width: 992px) {
    padding-top: 60px;
    padding-bottom: 54px;
    padding-left: 62px;
  }
}
