@import "@styles/_var";

.wrap {
  position: relative;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-dark-blue;
  overflow: hidden;
}

.body {
  flex: 1;
  height: 100%;
  overflow: hidden;
  padding-top: 56px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 992px) {
    padding-top: 95px;
  }
}
